@charset "UTF-8";
/* START Global-----------
------------------------ */
html {
  scroll-behavior: smooth; }

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

section {
  padding: 100px 0; }

/* END Global-----------
------------------------ */
/*Start Header-----------
------------------------ */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0; }

.welcome-msg {
  display: none; }

.top-bar {
  background-color: #2b2c2b;
  height: 20px; }

.menu {
  min-height: 70px;
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24); }
  .menu #toggle,
  .menu label {
    display: none; }
  .menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* margin: 0; */
    padding: 0; }

.menu-list-item {
  padding: 0 20px; }

.menu-link {
  text-decoration: none;
  color: #575555;
  font-weight: 300;
  transition: all 0.2s; }
  .menu-link:hover {
    color: black; }

/*End Header-----------
------------------------ */
/*Start Footer-----------
------------------------ */
footer {
  height: 110px;
  background-color: #d48953;
  background-color: #312e2e;
  color: #fafafa;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0; }
  footer p {
    width: 300px;
    margin: 0 auto;
    padding: 38px 0 0 0;
    font-family: 'Merienda', cursive;
    font-size: 15px;
    color: #ededed; }

/*End Footer-----------
------------------------ */
/*START header------------
--------------------------- */
html {
  overflow-x: hidden; }

.cover-img {
  background-image: url("../imgs/cover/cover-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.cover-img-content {
  color: white;
  margin-top: 40px; }
  .cover-img-content h1 {
    font-size: 70px;
    line-height: 25px;
    text-shadow: 4px 5px 13px rgba(0, 0, 0, 0.74); }
  .cover-img-content h2 {
    font-size: 50px;
    text-shadow: 4px 5px 13px rgba(0, 0, 0, 0.74); }

.btn-cover {
  background-color: #d37d3f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  box-shadow: 80px 21px 237px 6px rgba(0, 0, 0, 0.84);
  -webkit-box-shadow: 80px 21px 237px 6px rgba(0, 0, 0, 0.84);
  -moz-box-shadow: 80px 21px 237px 6px rgba(0, 0, 0, 0.84);
  font-size: 17px;
  transition: all 0.5s; }
  .btn-cover:hover {
    background-color: #c26b2d; }

.home-icon {
  width: 20px;
  height: 20px;
  display: none; }

/*END header------------
--------------------------- */
.profile-content {
  width: 50%;
  margin: 0 auto;
  /* height: 300px; */
  /* background-color: crimson; */
  text-align: center; }

.profile-content img {
  border-radius: 50%;
  text-align: center; }

.profile-content p {
  font-size: 20px;
  font-weight: 300;
  width: 80%;
  margin: 0 auto;
  width: 70%;
  padding: 50px 0 0 0; }

.brand {
  color: rgba(35, 35, 35, 0.726);
  font-weight: bold; }

/* End Profile-------------
----------------------------------- */
/* Start Education & Experience-------------
--------------------------------------- */
#eduexp {
  background-color: #303030; }

.content {
  width: 70%;
  margin: 0 auto;
  display: flex; }

.eduexp {
  /* border: 1px solid black; */
  width: 50%;
  color: white;
  padding: 50px; }
  .eduexp h3 {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: white; }

.content ul li {
  padding: 20px; }

.exp-item {
  padding: 10px;
  margin-left: 100px;
  position: relative;
  color: whitesmoke; }
  .exp-item p {
    font-size: 19px; }

.exp-item .fas {
  font-size: 40px;
  /* float: left; */
  position: absolute;
  left: -70px;
  top: 30px; }

.exp-item h4 {
  font-size: 20px;
  line-height: 0px; }

/* End Education & Experience-------------
--------------------------------------- */
/*Start Portfolio.--------------------------
------------------------------------------- */
.portfolio h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  /* margin-top: 40px; */
  letter-spacing: 0.1em; }

.portfolio .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%; }

.project {
  /* border: 1px solid black; */
  width: 260px;
  height: 300px;
  margin-top: 50px;
  /* position: relative; */ }

.project-img {
  width: 260px !important;
  height: 200px; }

.btn {
  /* width: 200px; */
  background-color: #313134;
  background-color: #e00404;
  background-color: #a41111;
  color: white;
  display: inline-block;
  margin-top: 20px;
  padding: 15px;
  text-decoration: none;
  transition: all 2s;
  width: 100%;
  text-align: center; }
  .btn:hover {
    background-color: #b80101; }

/*End Portfolio.--------------------------
------------------------------------------- */
/*Start Blog.--------------------------
------------------------------------------- */
.blog {
  min-height: 400px;
  padding-bottom: 90px;
  background-color: #ececec;
  font-weight: 300; }

.blog h2 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 0.1em; }

.blog-content {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between; }
  .blog-content article {
    width: 250px;
    height: 500px;
    margin-top: 40px; }
    .blog-content article h3 {
      font-weight: 400; }
    .blog-content article .img {
      width: 250px;
      height: 250px; }
    .blog-content article p {
      height: 60px;
      overflow: hidden; }

.btn-blog {
  background-color: #161616;
  color: white;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  font-size: 17px;
  transition: all 0.2s; }
  .btn-blog:hover {
    background-color: #232222;
    color: white; }

/*End Blog.--------------------------
------------------------------------------- */
/*Start Services.--------------------------
------------------------------------------- */
.services {
  background-image: url("../imgs/services/server-paralax.webp");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0; }
  .services h2 {
    text-align: center;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.1em; }
  .services .services-content {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px; }
    .services .services-content .service {
      text-align: center;
      border: 1px solid white;
      margin-left: 20px;
      background-color: rgba(0, 0, 0, 0.353);
      -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
      box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
      padding: 20px;
      transition: all 2s; }
      .services .services-content .service:hover {
        transform: scale(1.1); }
      .services .services-content .service h4 {
        font-size: 20px;
        color: #d37d3f;
        font-weight: 400; }
      .services .services-content .service p {
        line-height: 25px;
        font-weight: 400;
        color: #ebebeb; }
      .services .services-content .service svg {
        margin-top: 10px;
        fill: #d37d3f;
        width: 100px;
        height: 100px; }

/*Start Services.--------------------------
------------------------------------------- */
/*Start Contact.--------------------------
------------------------------------------- */
.contact {
  padding: 90px 0; }
  .contact h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.1em; }
  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0; }
  .contact .wpcf7 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
    background-color: #242424;
    color: white;
    padding: 40px;
    box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41); }
    .contact .wpcf7 p {
      padding: 5px; }
    .contact .wpcf7 label {
      font-size: 20px; }
  .contact .wpcf7 input[type="text"],
  .contact .wpcf7 input[type="email"],
  .contact .wpcf7 textarea {
    padding: 10px;
    border-radius: 20px; }
  .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type=”button”] {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.4s;
    font-size: 15px; }
    .contact .wpcf7 input[type="submit"]:hover, .contact .wpcf7 input[type=”button”]:hover {
      background-color: #a31313;
      color: white;
      outline: none; }
  .contact .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41);
    -webkit-box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 0px 44px 0px rgba(0, 0, 0, 0.41); }
    .contact .social-icons #fb-icon {
      fill: #1414d6; }
    .contact .social-icons #linkedin-icon {
      fill: #21218d; }
    .contact .social-icons #twitter-icon {
      fill: #2f7ca9; }
    .contact .social-icons #youtube-icon {
      fill: #c50f0f; }
  .contact .icon {
    transition: all 1s; }
    .contact .icon:hover {
      transform: rotate(360deg); }
  .contact .social-icons svg {
    width: 80px;
    height: 80px; }
  .contact .contact-details {
    display: flex;
    justify-content: start;
    width: 80%;
    margin-top: 10px; }
    .contact .contact-details p {
      margin-left: 10px;
      color: #373737;
      font-family: 'Merienda', cursive;
      font-size: 17px; }

.contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type=”button”] {
  padding: 15px;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  transition: all 0.4s;
  font-size: 15px;
  position: relative;
  left: 25px;
  top: 15px; }

/*End Contact.--------------------------
------------------------------------------- */
html, body {
  padding: 0;
  margin: 0; }

.single-post-img {
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
  box-shadow: 10px 10px 229px 0px rgba(0, 0, 0, 0.58) inset;
  -webkit-box-shadow: 10px 10px 229px 0px rgba(0, 0, 0, 0.58) inset;
  -moz-box-shadow: 10px 10px 229px 0px rgba(0, 0, 0, 0.58) inset; }

#sidebar-left {
  grid-area: sidebar-left; }

#sidebar-right {
  grid-area: sidebar-right; }

#post-content {
  grid-area: post-content; }

main {
  min-height: 400px;
  display: grid;
  grid-template-columns: 20% 55% 1fr;
  grid-template-areas: "sidebar-left post-content sidebar-right"; }

.single-post-content {
  padding: 80px;
  font-size: 20px;
  font-weight: 300; }
  .single-post-content h1 {
    text-align: center;
    color: #c26b2d;
    font-weight: 400; }
  .single-post-content h2, .single-post-content h3, .single-post-content p {
    font-weight: 300;
    font-family: 'Lato', sans-serif; }
  .single-post-content p {
    color: #212121; }

@media (min-width: 320px) and (max-width: 767px) {
  /*Start Responsive Menu---------------------
  ------------------------------------------- */
  .welcome-msg {
    /* display: inline-block; */
    text-align: center;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 12px;
    color: #484848;
    font-family: 'Indie Flower', cursive;
    font-size: 20px; }

  .menu ul {
    display: none; }

  .menu-link {
    text-decoration: none;
    color: #575555;
    font-weight: 300;
    transition: all 0.2s;
    font-size: 17px; }

  .menu label {
    display: block;
    float: left;
    font-size: 25px;
    padding: 10px;
    position: absolute;
    width: 49px;
    top: 32px;
    left: 30px;
    /* background-color: aquamarine; */ }

  nav .menu-bar {
    display: none;
    clear: both;
    padding: 0;
    position: relative;
    bottom: 44px;
    margin-top: 120px;
    margin-left: 79px; }
    nav .menu-bar li {
      padding: 10px; }

  #toggle:checked + .menu-bar {
    display: block; }

  .home-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 40px;
    right: 40px;
    fill: #999898;
    fill: #d37d3fa0; }

  /*End Responsive Menu---------------------
  ------------------------------------------- */
  /*Start Cover Image---------------------
      ------------------------------------------- */
  .cover-img {
    background-image: url("../imgs/cover/cover-mobile.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

  .cover-img-content h1 {
    font-size: 45px;
    line-height: 55px;
    text-shadow: 4px 5px 13px rgba(0, 0, 0, 0.74);
    padding: 0;
    margin-top: 0;
    margin: 0;
    margin-top: 70px;
    width: 80%;
    margin: 0 auto; }

  .cover-img-content h2 {
    font-size: 27px;
    text-shadow: 2px 0px 6px rgba(0, 0, 0, 0.74);
    width: 75%;
    margin: 0 auto;
    line-height: 50px;
    /* margin-top: 16px; */
    padding: 25px 0; }

  .btn-cover {
    background-color: #d37d3f;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    box-shadow: none;
    font-size: 17px;
    transition: all 0.5s; }

  /*End Cover Image---------------------
  ------------------------------------------- */
  .profile {
    padding: 100px 0 80px 0; }

  .profile-content {
    width: 100%;
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: crimson; */
    text-align: center; }

  .profile-content p {
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
    width: 90%;
    padding: 50px 0 0 0; }

  .eduexp-section {
    padding: 50px 0; }

  .content {
    width: 90%;
    /* background-color: aquamarine; */
    margin: 0 auto;
    display: flex;
    flex-direction: column; }

  .eduexp {
    /* border: 1px solid black; */
    width: 100%;
    color: white;
    padding: 10px; }

  .eduexp h3 {
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    color: white;
    margin-left: 5px; }

  .exp-item {
    padding: 5px 5px;
    margin-left: 75px;
    position: relative;
    color: whitesmoke; }

  .exp-item .fas {
    /* position: absolute; */
    position: top;
    position: relative;
    top: 42px; }

  .exp-item h4 {
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin: 0; }

  .exp-item p {
    font-size: 16px;
    line-height: 30px; }

  .exp-item p {
    font-size: 16px;
    line-height: 30px;
    /* margin-top: 10px; */
    margin: 0; }

  .portfolio {
    padding: 100px 0 50px 0; }

  .project {
    /* border: 1px solid black; */
    width: 260px;
    height: 300px;
    margin-top: 25px;
    /* position: relative; */ }

  .btn {
    /* width: 200px; */
    background-color: #313134;
    background-color: #e00404;
    background-color: #a41111;
    color: white;
    display: inline-block;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    transition: all 2s;
    width: 100%;
    text-align: center; }

  .blog {
    padding-bottom: 50px; }

  .blog-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center; }

  .services .services-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px; }

  .services .services-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px; }

  .services .services-content .service {
    text-align: center;
    border: 1px solid white;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.353);
    -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    transition: all 2s; }

  .services .services-content .service {
    text-align: center;
    border: none;
    /* margin-left: 20px; */
    background-color: rgba(0, 0, 0, 0.353);
    -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    transition: all 2s; }

  .services .services-content .service:hover {
    transform: none; }

  .services .services-content .service svg {
    margin-top: 10px;
    fill: #d37d3f;
    fill: #d3a93f;
    fill: rgba(206, 204, 204, 0.661);
    width: 70px;
    height: 70px; }

  .services .services-content .service h4 {
    font-size: 20px;
    color: #d3a93f;
    color: white;
    font-weight: 400; }

  .contact {
    padding-bottom: 0; }

  .contact .contact-content {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0; }

  .contact .wpcf7 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 0;
    border: none;
    background-color: #242424;
    color: white;
    padding: 30px;
    box-shadow: none; }

  .contact .wpcf7 label {
    font-size: 16px; }

  .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
    padding: 10px;
    border-radius: 20px;
    width: 100%; }

  .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.4s;
    font-size: 15px;
    position: relative;
    /* left: 100px; */
    right: -20px;
    top: 20px; }

  .contact-content-left img {
    width: 60%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    top: 70px;
    left: 75px; }

  .contact .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: none; }

  .contact .social-icons svg {
    width: 50px;
    height: 50px; }

  .contact .contact-details {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .contact .contact-details p {
      margin: 0; }

  .social-icons .icon:hover {
    transform: none; }

  .contact .contact-details p {
    margin-left: 10px;
    color: #282828;
    font-family: 'Merienda', cursive;
    font-size: 15px; } }
@media (min-width: 768px) and (max-width: 768px) {
  .menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    /* margin: 0; */
    padding: 0;
    width: 95%; }

  .cover-img {
    background-image: url("../imgs/cover/cover-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

  .profile-content p {
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
    width: 100%;
    padding: 50px 0 0 0; }

  .eduexp-section {
    padding: 50px 0; }

  .eduexp-section .content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }

  .eduexp {
    /* border: 1px solid black; */
    width: 100%;
    color: white;
    /* padding: 50px; */
    padding: 10px; }

  .portfolio .content {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    flex-wrap: 25%;
    align-items: center;
    width: 80%; }

  .blog-content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between; }

  .services .services-content {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    flex-direction: column; }

  .service {
    margin-top: 40px; }

  .contact {
    padding-bottom: 50px; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column-reverse; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column-reverse; }

  .contact .wpcf7 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 0;
    background-color: #242424;
    color: white;
    padding: 40px;
    box-shadow: none; }

  .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
    padding: 10px;
    border-radius: 20px;
    width: 80%; }

  .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.4s;
    font-size: 15px;
    position: relative;
    /* left: 100px; */
    right: -20px;
    top: 20px; }

  .contact-content-left img {
    width: 300px;
    height: 300px;
    /* margin: 40px; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    top: 100px;
    left: 25%; }

  .contact .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: none; }

  .contact .social-icons svg {
    width: 50px;
    height: 50px; }

  .contact .contact-details {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .contact .contact-details p {
      margin: 0; }

  .social-icons .icon:hover {
    transform: none; }

  .contact .contact-details p {
    margin-left: 10px;
    color: #282828;
    font-family: 'Merienda', cursive;
    font-size: 15px; } }
@media (min-width: 769px) and (max-width: 1024px) {
  .cover-img {
    background-image: url("../imgs/cover/cover-mobile.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }

  .cover-img-content h2 {
    font-size: 35px;
    text-shadow: 4px 5px 13px rgba(0, 0, 0, 0.74);
    width: 70%;
    margin: 0 auto 20px auto; }

  .profile-content p {
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
    width: 95%;
    padding: 50px 0 0 0; }

  .eduexp {
    /* border: 1px solid black; */
    width: 50%;
    color: white;
    padding: 25px; }

  .eduexp-section .content {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-direction: row; }

  .exp-item h4 {
    font-size: 18px;
    line-height: 28px; }

  .exp-item p {
    font-size: 17px; }

  .portfolio .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    flex-wrap: wrap; }

  .blog-content {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 auto;
    justify-content: space-between; }

  .services .services-content {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 95%;
    margin: 0 auto;
    padding-top: 20px;
    flex-direction: column;
    flex-direction: row; }

  .services .services-content .service {
    text-align: center;
    border: none;
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0.353);
    -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
    padding: 20px;
    transition: all 2s;
    /* width: 500px; */
    margin: 0 auto; }

  .services .services-content .service svg {
    margin-top: 10px;
    fill: #d37d3f;
    width: 70px;
    height: 70px; }

  .contact {
    padding-bottom: 50px; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column-reverse; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0;
    flex-direction: column-reverse; }

  .contact .wpcf7 {
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    border-radius: 0;
    background-color: #242424;
    color: white;
    padding: 40px;
    box-shadow: none; }

  .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
    padding: 10px;
    border-radius: 20px;
    width: 80%; }

  .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
    padding: 15px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.4s;
    font-size: 15px;
    position: relative;
    /* left: 100px; */
    right: -20px;
    top: 20px; }

  .contact-content-left img {
    width: 300px;
    height: 300px;
    /* margin: 40px; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    top: 100px;
    left: 25%; }

  .contact .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
    border-radius: 30px;
    padding: 40px;
    box-shadow: none; }

  .contact .social-icons svg {
    width: 50px;
    height: 50px; }

  .contact .contact-details {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .contact .contact-details p {
      margin: 0; }

  .social-icons .icon:hover {
    transform: none; }

  .contact .contact-details p {
    margin-left: 10px;
    color: #282828;
    font-family: 'Merienda', cursive;
    font-size: 15px; }

  .contact-content-left img {
    width: 350px;
    height: 350px;
    /* margin: 40px; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    position: relative;
    top: 60px;
    left: 30%; } }
@media (min-width: 1025px) and (max-width: 1200px) {
  .profile-content {
    width: 80%;
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: crimson; */
    text-align: center; }

  .content {
    width: 100%;
    margin: 0 auto;
    display: flex; }

  .exp-item h4 {
    font-size: 20px;
    line-height: 25px; }

  .portfolio .content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    flex-wrap: wrap; }

  .blog-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-wrap: wrap; }

  .services .services-content {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px; }

  .contact-content-left img {
    width: 300px;
    height: 300px; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    padding: 50px 0; }

  .contact .social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    border-radius: 30px;
    padding: 0;
    box-shadow: none;
    width: 300px;
    margin: 100px auto 0 auto; }

  .icons {
    margin: 20px; }

  .contact .social-icons svg {
    width: 60px;
    height: 60px; }

  .contact .contact-details {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px; } }
@media (min-width: 1201px) and (max-width: 1440px) {
  .cover-img-content h2 {
    font-size: 40px;
    width: 70%;
    text-shadow: 4px 5px 13px rgba(0, 0, 0, 0.74);
    margin: 0 auto;
    padding-bottom: 30px; }

  .profile-content {
    width: 70%;
    margin: 0 auto;
    /* height: 300px; */
    /* background-color: crimson; */
    text-align: center; }

  .content {
    width: 85%;
    margin: 0 auto;
    display: flex; }

  .exp-item h4 {
    font-size: 18px;
    line-height: 25px; }

  .exp-item p {
    font-size: 17px; }

  .portfolio .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; }

  .blog-content {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between; }

  .services .services-content {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 85%;
    margin: 0 auto;
    padding-top: 20px; }

  .contact .contact-content {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    padding: 50px 0; }

  .contact-content-left img {
    width: 500px;
    height: 450px; }

  .contact .social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    border-radius: 30px;
    padding: 0;
    box-shadow: none; }

  .contact .social-icons svg {
    width: 50px;
    height: 50px; }

  .contact .contact-details {
    display: flex;
    justify-content: start;
    width: 80%;
    margin-top: 10px;
    margin-left: 30px; } }
@media (min-width: 320px) and (max-width: 768px) {
  main {
    min-height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-content"; }

  .single-post-content h1 {
    text-align: left;
    color: #c26b2d;
    font-weight: 400; }

  .single-post-content {
    padding: 40px 20px 80px 20px;
    font-size: 20px;
    font-weight: 300; } }
@media (min-width: 769px) and (max-width: 1024px) {
  main {
    min-height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-content"; }

  .single-post-content h1 {
    text-align: left;
    color: #c26b2d;
    font-weight: 400; }

  .single-post-content {
    padding: 40px 20px 80px 20px;
    font-size: 20px;
    font-weight: 300;
    width: 85%;
    margin: 0 auto; } }
@media (min-width: 1025px) and (max-width: 1200px) {
  main {
    min-height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-content"; }

  .single-post-content h1 {
    text-align: left;
    color: #c26b2d;
    font-weight: 400; }

  .single-post-content {
    padding: 40px 20px 80px 20px;
    font-size: 20px;
    font-weight: 300;
    width: 80%;
    margin: 0 auto; } }
@media (min-width: 1201px) and (max-width: 1440px) {
  main {
    min-height: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "post-content"; }

  .single-post-content h1 {
    text-align: left;
    color: #c26b2d;
    font-weight: 400; }

  .single-post-content {
    padding: 40px 20px 80px 20px;
    font-size: 20px;
    font-weight: 300;
    width: 65%;
    margin: 0 auto; } }

/*# sourceMappingURL=app.css.map */
