
/*START header------------
--------------------------- */
    html{
        overflow-x: hidden;
    }

    .cover-img{
        background-image: url("../imgs/cover/cover-image.webp");
        background-size: cover;
        background-repeat: no-repeat;
        height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;


        .cover-img-content{
            color: white;
            margin-top: 40px;
            animation-name: bounce;
            position: relative;
            animation-duration: 2s;
            // animation-delay: 1s;
            animation-timing-function: ease-in;
            h1{
                font-size: 70px;
                line-height: 25px;
                text-shadow: 4px 5px 13px rgba(0,0,0,0.74);
            }

            h2{
                font-size: 50px;
                text-shadow: 4px 5px 13px rgba(0,0,0,0.74);       
            }

            .btn-cover{
                background-color: rgb(211, 125, 63);
                color: white;
                padding: 20px;
                // border: 1px solid white;
                border-radius: 5px;
                text-decoration: none;
                margin-top: 15px;
                display: inline-block;
                box-shadow: 80px 21px 237px 6px rgba(0,0,0,0.84);
                -webkit-box-shadow: 80px 21px 237px 6px rgba(0,0,0,0.84);
                -moz-box-shadow: 80px 21px 237px 6px rgba(0,0,0,0.84);
                font-size: 17px;
                transition: all 0.5s;
                &:hover{
                    background-color: rgb(194, 107, 45);
                }

            
            }

                
            
        }
    }


    @keyframes bounce {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }


    .home-icon{
        width: 20px;
        height: 20px;
        display: none;
    }

/*END header------------
--------------------------- */

// START PROFILE-------
//-------------------------
    .profile {
        max-height: 940px;

        .profile-content {
            width: 50%;
            margin: 0 auto;
            text-align: center;

            img{
                border-radius: 50%;
                text-align: center;
                
            }

            p{
                font-size: 20px;
                font-weight: 300;
                width: 80%;
                margin: 0 auto;
                // text-align: center;
                width: 70%;
                padding: 50px 0 0 0;

                .brand{
                    color: rgba(35, 35, 35, 0.726);
                    font-weight: bold;
                }
            }
        }
    }
  

/* End Profile-------------
----------------------------------- */

/* Start Education & Experience-------------
--------------------------------------- */
    
    #eduexp{
        padding: 0;
        .content{
            background-color: rgb(48, 48, 48);
            padding: 25px 0;

            .eduxexp-content-wrapping{
                width: 70%;    
                margin: 0 auto;
                display: flex;        
            
                .eduexp{
                    /* border: 1px solid black; */
                    width: 50%;   
                    color: white;
                    padding: 50px;
                
                    h3{
                    
                        font-size: 25px;
                        font-family: 'Indie Flower', cursive;
                        color: white;
                        
                    }
            
                    .exp-item {
                        padding: 10px;
                        margin-left: 100px;
                        position: relative;
                        color: rgb(245, 245, 245);
                
                        p{
                            font-size: 19px;
                        }
            
                        h4{
                            font-size: 20px;
                            line-height: 30px;
                        }
            
                        .fas{
                            font-size: 40px;
                            /* float: left; */
                            position: absolute;
                            left: -70px;
                            top: 30px;
                        }

                        
                    }
                }

               
            }

        }

      
        .additional-reading{
            background-color: #fafafa;
            padding: 100px 0;
           
            // background-color: #fafafa;
            .galery-wrap{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 85%;
                margin: 0 auto;
            
                // left, right icons
                .fa-solid{
                    font-size: 50px;
                    margin-top: 65px;
                    color: rgb(251, 166, 9);
                    cursor: pointer;
                   
                }
                #nextBtn{
                    position: relative;
                    right: 20%;
                }
            
                #backBtn{
                    position: relative;
                    left: 15%;
                }
            
                .slideshow-container{
                    display: flex;
                    // justify-content: center;
                   
                    width: 50%;
                    margin: 0 auto;
                    margin-top: 80px;
                    // flex-wrap: wrap;
                    overflow-x: scroll;
                  
                    .slide{
                
                        width: 850px;
                        height: 250px;
                        display: grid;
                        grid-template-columns:auto auto auto;
                        grid-gap:10px;
                        flex: none;
                        
                        
                    .slide-img{
                            width: 200px ;
                            height: 250px ;
                        
                        }
                    }
                
                }
            
                .slideshow-container::-webkit-scrollbar{
                    display: none;
                }
            }
        }

    } 

    .rhcsa-cert{
        line-height: 30px !important ;
        margin: 0;
    }

    .scroll {
        overflow-y: scroll;
        height: 650px;
    }
   
/* End Education & Experience-------------
--------------------------------------- */



/*Start Portfolio.--------------------------
------------------------------------------- */

    .caligraphy-header{
        text-align: center;
        font-family: 'Indie Flower', cursive;
        /* margin-top: 40px; */
        letter-spacing:0.1em;
    }

    .portfolio h2{
        text-align: center;
        font-family: 'Indie Flower', cursive;
        /* margin-top: 40px; */
        letter-spacing:0.1em;
    }

    .tabs-container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        button{
            background-color: orange;
            color: white;
            margin: 10px;
            border-radius: 5px;

        }

        .tab-active{
            position: relative;
            bottom: 5px;
        }
    }

    .portfolio .tab-content-active{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        // opacity: 100;
        // transform: scale(1.1);
        // transition:all 3s ease-in;
        
       
    }

    
    
    .tab-content{
        display: none;
        // opacity: 0;
    }
    // .portfolio .content article {
       
    // }

    .project{
        /* border: 1px solid black; */
        width: 260px;
        height: 300px;
        margin: 50px 20px;
        /* position: relative; */
        
    }

    .project-img{
        width: 260px !important;
        height: 200px;
    }

    .btn{
        /* width: 200px; */
       
        background-color: #a41111;
        color: white;
        display: inline-block;
        margin-top: 20px;
        padding: 15px;
        text-decoration: none;
        transition: all 2s;
        width: 100%;
        text-align: center;
        &:hover{
            background-color: rgb(125, 0, 0);
            color: white;
            
        }
        &:visited{
          
            color: white !important;
            
        }

        &:active{
          
            color: white !important;
            
        }
    }
    
/*End Portfolio.--------------------------
------------------------------------------- */

/*Start Blog.--------------------------
------------------------------------------- */

    .blog{
        min-height: 400px;
        padding-bottom:  90px;
        background-color: rgb(236, 236, 236);
        font-weight: 300;

        h2{
            text-align: center;
            font-family: 'Indie Flower', cursive;
            letter-spacing:0.1em;
        }

        .blog-content{
            display: flex;
            width: 80%;
            margin: 0 auto;
            justify-content: space-evenly;
            .blog-content-article{
                width: 330px;
                height: 500px;
                margin-top: 40px;
                padding: 40px;
                background-color: white;
                box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.1);
                -webkit-box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.1);
                -moz-box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.1);
                transition: all 1s ease-in;
            
                border-radius: 10px;
                .img{
                    width: 250px; 
                    height: 250px; 
                    // border: 1px solid black;
                
                }
    
                p{
                    
                    height: 50px;
                    overflow: hidden;
                    
                }

                &:hover{
                    // background-color: rgb(94, 94, 94);
                    // color: white;
                   
                    transform: scale(1.1);
                    box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.23);
                    -webkit-box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.23);
                    -moz-box-shadow: 10px 10px 67px 0px rgba(0,0,0,0.23);

                }
            }
        }
    }


    .btn-blog{
        background-color: rgb(22, 22, 22);
        color: rgb(255, 255, 255);
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 0px;
        display: inline-block;
    
        font-size: 17px;
        transition: all 0.2s;
        &:hover{
    
            background-color: rgb(219, 86, 38);
            color: white;

        }

        &:visited{
            color: white;
        }
    }

    .btn-view-more{
        text-align: center;
        display: block;
        padding: 20px;
        font-size: 1.2rem;
        color: rgb(186, 118, 2);
        position: relative;
        top: 50px;

        &:hover{
            color: rgb(201, 135, 4);
        }

        &:visited{
            color: rgb(201, 135, 4);
        }
    }


/*End Blog.--------------------------
------------------------------------------- */

/*Start Services.--------------------------
------------------------------------------- */

    .services{
        background-image: url("../imgs/services/server-paralax.webp");
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 650px;
            /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 90px 0;
        // opacity: 0.9;

        h2{
            text-align: center;
            color: whitesmoke;
            font-family: 'Indie Flower', cursive;
            letter-spacing:0.1em;
        }

        .services-content{
            display: flex;
            justify-content: space-between;
            color: white;
            width: 70%;
            margin: 0 auto;
            padding-top: 20px;

            .service{
                text-align: center;
                border: 1px solid white;
                margin-left: 20px;
                background-color: rgba(0, 0, 0, 0.353);
                -webkit-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.24); 
                box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.24);
                padding: 20px;
                transition: all 2s;

                &:hover{
                    // transform: rotate(5deg);
                    transform: scale(1.1);
                }

                h4{
                    font-size: 20px;
                    color: rgb(211, 125, 63);
                    font-weight: 400;
                }

                p{
                    line-height: 25px;
                    font-weight: 400;
                    color: rgb(235, 235, 235);
                    
                }

                svg{
                    margin-top: 10px;
                    fill: rgb(211, 125, 63);
                    width: 100px;
                    height: 100px;
                }

                a{
                    background-color: rgb(255, 119, 0);
                    color: white;
                    text-decoration: none;
                    display: block;
                    padding: 10px;
                    width: 200px;
                    margin: 20px auto;
                    border-radius: 5px;

                }
            }
        }
    }

/*Start Services.--------------------------
------------------------------------------- */



/*Start Contact.--------------------------
------------------------------------------- */

    .contact{
        padding: 90px 0;
        h2{
            text-align: center;
            font-family: 'Indie Flower', cursive;
            letter-spacing:0.1em;
        }

        .contact-content{
            display: flex;
            justify-content: space-around;
            width: 70%;
            margin: 0 auto;
            padding: 50px 0;
        }

        .wpcf7{
            margin: 0 auto;
            text-align: center;
            padding-top: 10px;
            border-radius: 20px;
            background-color: rgb(36, 36, 36);
            color: white;
            padding: 40px;
            box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
            -webkit-box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
            -moz-box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
            p{
                padding: 5px;
            }

            label{
                font-size: 20px;
            }
    
        }

        .wpcf7 input[type="text"],
        .wpcf7 input[type="email"],
        .wpcf7 textarea{
            padding: 10px;
            border-radius: 20px;
        }

        .social-icons{
            display: flex;
            justify-content: space-around;
            margin-top: 80px;
            border-radius: 30px;
            padding: 40px;
            box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
            -webkit-box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
            -moz-box-shadow: 1px 0px 44px 0px rgba(0,0,0,0.41);
        
           
            #fb-icon a{
                fill: rgb(20, 20, 214);
               
            }

            #linkedin-icon a{
                fill: rgb(33, 33, 141);
                
            }

            #twitter-icon a{
                fill: rgb(47, 124, 169);
            }

            #youtube-icon a {
                fill: rgb(197, 15, 15);
            }

            
        }

        .icon{
                transition: all 1s;
                &:hover{
                    transform: rotate(360deg);
                }
        }


        .social-icons svg{
            width: 80px;
            height: 80px;        
        }

        .contact-details{
            display: flex;
            justify-content: start;
            width: 80%;
            margin-top: 10px;
            p{
                margin-left: 10px;
                color: rgb(55, 55, 55);
                font-family: 'Merienda', cursive;
                font-size: 17px;
            }
        }

        
    }

    .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type=”button”] {
        padding: 15px;
        width: 150px;
        margin: 0 auto;
        text-align: center;
        transition: all 0.4s;
        font-size: 15px;
        position: relative;
        left: 25px;
        top: 15px;

        &:hover{
            background-color: rgb(163, 19, 19);
            color: white;
            outline: none;
        }
    }

/*End Contact.--------------------------
------------------------------------------- */



