#technical-support-cover{
    background: url("../imgs/services/services-page-cover.jpg");
}

#web-hosting-cover{
    background: url("../imgs/services/web-hosting-service-cover.jpg");
}

.services-cover{
    
    // background: url("../imgs/services/services-page-cover.png");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    h1{
        margin: 0;
        color: white;
        margin-top: 75px;
        text-align: center;
        text-shadow: 2px 5px 9px #000000;
        font-size: 60px;
    }
}

.page-content{
    width: 60%;
    margin: 0 auto;
    min-height:800px;

   .page-content-article{
        width: 60%;
        // background-color: rgb(203, 125, 125);
        margin: 0 auto;
        padding: 40px;

      
    }
}