/* START Global-----------
------------------------ */
    html{
        scroll-behavior: smooth;
    }
    html,body{
        padding: 0;
        margin: 0; 
        font-family: 'Roboto', sans-serif;
    }

    *{
        box-sizing: border-box;
    }

    section{
        padding: 100px 0;
    }

    .section{
        transition: transform 1s, opacity 1s;
    }
    .section--hidden {
        opacity: 0;
        transform: translateY(8rem);
    }
    a{
        text-decoration: none; 
        // decoration: none; 
    }

     a:visited {
        color: inherit;
      }

  


    // a:visited{
    //     text-decoration: none; 
    //     color:inherit;
    //     // decoration: none; 
    // }

/* END Global-----------
------------------------ */

/*Start Header-----------
------------------------ */
    .header{
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
    }

    .welcome-msg{
        display: none;
    }

    .top-bar{
        background-color: rgb(43, 44, 43);
        height: 20px;
    }

    .menu{
        min-height: 70px;
        background-color: white;
        padding: 10px;
        -webkit-box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.24); 
        box-shadow: 5px 5px 25px 2px rgba(0,0,0,0.24);
        
        #toggle,
        label {
          display: none;
        }

        ul{
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            position: relative;
            top: 15px;
        
        }

    }

    // menu items
    .menu-list-item{
        padding:0 20px;

    }
    // menu links
    .menu-link{
        text-decoration: none;
        color: rgb(87, 85, 85);
        font-weight: 300;
        
        transition: all 0.2s;
        &:hover{
            color: rgb(0, 0, 0);
            
            padding-bottom: 8px;
            padding-top: 8px;
            // font-weight: 400;
            color: rgb(218, 153, 97);

        }

        &:active{
            color: rgb(218, 153, 97);
        }

    
    }

    .active{
        color: rgb(218, 153, 97);

    }
/*End Header-----------
------------------------ */


/*Start Footer-----------
------------------------ */
    .footer{
        height: 110px;
        background-color: rgb(212, 137, 83);
        background-color: rgb(49, 46, 46);
        color: rgb(250, 250, 250);
        text-align: center;
        // box-shadow: 4px -15px 56px 0px rgba(0,0,0,0.41);
        // -webkit-box-shadow: 4px -15px 56px 0px rgba(0,0,0,0.41);
        // -moz-box-shadow: 4px -15px 56px 0px rgba(0,0,0,0.41);

        position: relative;
        width: 100%;
        bottom: 0;

        p{
            width: 300px;
            margin: 0 auto;
            padding: 38px 0 0 0;
            font-family: 'Merienda', cursive;
            font-size: 15px;
            color: #ededed;
        


        }


    }

/*End Footer-----------
------------------------ */
