@media (min-width:320px) and (max-width: 767px) {

    .blog-main-area{
        margin-left: 0;
        width: 90%;
        margin:0 auto;

        h1{
            text-align: center;
            font-family: 'Indie Flower', cursive;
            letter-spacing:0.1em;
            margin-left: 0;
        }
    }

    .main-blog-grid{
        display: grid;
        grid-template-columns: 1fr;
        

    }

    .blog-left-sidebar,.blog-right-sidebar{
        display: none;
    }

    .blog-post {
        flex-direction: column;
        width: 250px;
        margin: 80px auto;
    }

    .blog-post .blog-post-content {
        margin-left: 0;
        margin-top: 10px;
    }

    .blog-post .blog-post-content p {
        width: 250px;
        height: 55px;
        overflow: hidden;
    }
}