// 320px — 480px: Mobile devices
@media (min-width:320px) and (max-width: 767px) {

    /*Start Responsive Menu---------------------
    ------------------------------------------- */
        .welcome-msg {
            /* display: inline-block; */
            text-align: center;
            margin: 0 auto;
            display: block;
            position: relative;
            top: 12px;
            color: #484848;
            font-family: 'Indie Flower', cursive;
            font-size: 20px;
            color: #131313;
            text-shadow: 4px 4px 15px rgba(0,0,0,0.2);
        }

        .menu ul{
            display: none;
            // background-color: red;
        
        }

        .menu-link {
            font-size: 17px;
        }
        .menu label {
            display: block;
            font-size: 25px;
            padding: 10px;
            position: absolute;
            width: 49px;
            top: 30px;
            left: 30px;
        }

        nav .menu-bar {
            // display: none;
            display: block;
            visibility: hidden;
            height: 0px;
            // background-color: #282828;
            clear: both;
            padding: 0;
            position: relative;
            bottom: 44px;
            
            margin: 0;
            margin-left: 79px;


            transition: opacity 1s ease-out;
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: height 0.3s;
        
            li {
            padding: 10px;
            }
        }
        
        // when toggle is checked
        #toggle:checked + .menu-bar{
            visibility:visible;
            margin-top: 110px;
            transition: opacity 1s ease-out;
            opacity: 1;
            height: 250px;
            transition: height 0.5s ease-out;
        }

    
        .home-icon {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 40px;
            right: 40px;
            fill: #999898;
            fill: #d37d3fda;
        }

        //.menu-link:

    /*End Responsive Menu---------------------
    ------------------------------------------- */

    /*Start Cover Image---------------------
        ------------------------------------------- */
        .cover-img{
            background-image: url("../imgs/cover/cover-mobile.webp");
            height: 650px;
            background-position: center;
        }

        .cover-img-content h1 {
            font-size: 45px;
            line-height: 55px;
            padding: 0;
            margin-top: 0;
            width: 80%;
            margin: 0 auto;
        }

        .cover-img-content h2 {
            font-size: 30px;
            width: 80%;
            margin: 0 auto;
            line-height: 40px;
            padding: 25px 0;
        }

        .btn-cover {
            box-shadow:none;
 
        }
        


    /*End Cover Image---------------------
    ------------------------------------------- */


    // start profile

        .profile{
            padding: 100px 0 80px 0;
        }

        .profile-content {
            width: 100%;
            margin: 0 auto;

        }

        .profile-content p {
            font-size: 20px;
            width: 90%;
        }

    // end profile

    // start eduexp

        .eduexp-section{
            padding: 50px 0;
        }

        .content {
            width: 90%;          
            flex-direction: column;
        }


        .eduexp{
            width: 100%;
            padding: 10px;
        }

        .eduexp h3 {
            margin-left: 5px;
        }

        .exp-item {
            padding: 5px 5px;
            margin-left: 75px;
            color: whitesmoke;
        }


        .exp-item .fas {
            top: 14px;
        }
        .exp-item h4 {
            font-size: 18px;
            line-height: 25px;
            padding: 0;
            margin: 0;
        }
        .exp-item p {
            font-size: 16px;
            line-height: 30px;
        }

        .exp-item p {
            font-size: 16px;
            line-height: 30px;
            // margin: 0;
        }

       
    // end eduexp

    // start-portfolio

        .portfolio{
            padding: 100px 0 50px 0;
        }

        .project {
            margin-top: 25px;
        }

        .btn {
            // background-color: #d4854cda;
        }


    // end portfolio

    // start blog
        .blog{
            padding-bottom: 50px;
        }
        
        .blog-content {
            
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

    // end blog

    // start services

        .services .services-content {
            flex-direction: column;            
            width: 85%;
        }

        .services .services-content .service {
            border: none;
            margin-left: 0;
        }

        .services .services-content .service:hover{
            transform: none;
        }

        .services .services-content .service svg {
            margin-top: 10px;
            fill: #d37d3fc3;
            width: 70px;
            height: 70px;
        }

        .services .services-content .service h4 {
            color: white;
        }
    // end services

    // start contact

        .contact{
            padding-bottom: 0;
        }
        .contact .contact-content {
            flex-direction: column-reverse;
            width: 100%;
        }
        .contact .wpcf7 {
            border-radius: 0;
            border: none;
            background-color: #242424;
            padding: 30px;
            box-shadow: none;
        }

        .contact .wpcf7 label {
            font-size: 16px;
        }

        .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
            width: 100%;
        }

        .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
            transition: all 0.4s;
            position: relative;
            right: -20px;
            top: 10px;
        }

        .contact-content-left{
            display: flex;
            flex-direction: column;
        }

        .contact-content-left img {
            width: 250px;
            height: 200px;
            margin: 0 auto;
            position: relative;
            top: 70px;
            /* left: 75px; */
        }

        .contact .social-icons {
            display: flex;
            justify-content: space-around;
            margin-top: 80px;
            border-radius: 30px;
            padding: 40px;
            box-shadow: none;
        }

        .contact .social-icons svg{
            width: 50px;
            height: 50px;        
        }

        .contact .contact-details {
            display: flex;
            width: 100%;
            margin-top: 10px;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            p{
                margin: 0;
            }
        }

        .social-icons .icon{
            &:hover{
                transform: none;
            }
        }

        .contact .contact-details p {
            margin-left: 10px;
            color: #282828;
            font-family: 'Merienda', cursive;
            font-size: 15px;
        }

    // end contact


        
}

// 481px — 768px: iPads, Tablets
@media (min-width: 768px) and (max-width:768px){

    // start header

        .menu ul {
            width: 95%;
        }

        .cover-img{
            background-image: url("../imgs/cover/cover-mobile.webp");
        }

    // end header

    // start profile

        .profile-content p {
            width: 100%;
        }

    // end profile


    // start eduexp

        .eduexp-section{
            padding: 50px 0;
        }

        .eduexp-section .content {
            flex-direction: column;
        }

        .eduexp {
            width: 100%;
            padding: 10px;
        }

    // end eduexp

    // start porfolio

        .portfolio .content {
            flex-wrap: wrap;
            display: flex;
            justify-content: space-between;
            flex-wrap: 25%;
            align-items: center;
            width: 80%;
        }


    // end portfolio

    // start blog
        .blog-content {
            flex-wrap: wrap;
            width: 80%;
        }

    // end blog

    // start services 
        .services .services-content {
            flex-direction: column;
        }

        .service{
            margin-top: 40px;
        }

    // end services

    // start contact

        .contact{
            padding-bottom: 50px;
        }

        .contact .contact-content {
           
            width: 100%;
            flex-direction: column-reverse;
        }

        .contact .wpcf7 {
            border-radius: 0;
            background-color: #242424;
            box-shadow: none;
            
        }

        .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
            width: 80%;
        }


        .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
            right: -20px;
            top: 20px;
        }


        .contact-content-left img{

            width: 300px;
            height: 300px;
            text-align: center;
            position: relative;
            top: 70px;
            left: 27%;
        }

        .contact .social-icons {
            margin-top: 90px;
            box-shadow: none;

        }

        .contact .social-icons svg{
            width: 50px;
            height: 50px;        
        }

        .contact .contact-details {
          
            width: 100%;
            flex-direction: column;
            align-items: center;

            p{
                margin: 0;
            }
        }

        .social-icons .icon{
            &:hover{
                transform: none;
            }
        }

        .contact .contact-details p {
            font-size: 15px;
        }
    // end contact


}

// 769px — 1024px: Small screens, laptops
@media(min-width: 769px) and (max-width:1024px){
 

    // start header

        .cover-img{
            background-image: url("../imgs/cover/cover-mobile.webp");
        }

        .cover-img-content h2 {
            font-size: 35px;
            width: 70%;
            margin: 0 auto 20px auto;
        }
    // end header

    // start profile 

        .profile-content p {
            width: 95%;
        }

    // end profile

    // start eduexp

        .eduexp {
            padding: 25px;
        }
        
    

        .eduexp-section .content {
            width: 95%;
            flex-direction: row;
        }


        .exp-item h4 {
            font-size: 18px;
            line-height: 28px;
        }

        .exp-item p {
            font-size: 17px;
        }
        
  

    // end edu exp

    // start portfolio
        .portfolio .content {
            flex-wrap: wrap;
        }
    // end portfolio

    // start blog
        .blog-content {
            flex-wrap: wrap;
            width: 65%;
        }

    // end blog

    // start services

        .services .services-content {
            width: 95%;
            margin: 0 auto;
            flex-direction: row;
        }

        .services .services-content .service {
            text-align: center;
            border: none;
            margin-left: 20px;
            background-color: rgba(0, 0, 0, 0.353);
            -webkit-box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.24);
            padding: 20px;
            transition: all 2s;
            /* width: 500px; */
            margin: 0 auto;
        }

        .services .services-content .service svg {
            margin-top: 10px;
            fill: #d37d3f;
            width: 70px;
            height: 70px;
        }

    // end services


    
    // start contact

        .contact{
            padding-bottom: 50px;
        }

        .contact .contact-content {
            width: 100%;
            flex-direction: column-reverse;
        }

        .contact .wpcf7 {
            border-radius: 0;
            box-shadow: none;
            
        }

        .contact .wpcf7 input[type="text"], .contact .wpcf7 input[type="email"], .contact .wpcf7 textarea {
            width: 80%;
        }


        .contact .wpcf7 input[type="submit"], .contact .wpcf7 input[type="”button”"] {
            right: -20px;
            top: 20px;
        }



        .contact .social-icons {
            margin-top: 90px;
            box-shadow: none;

        }

        .contact .social-icons svg{
            width: 50px;
            height: 50px;        
        }

        .contact .contact-details {
           
            width: 100%;
            margin-top: 10px;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        .social-icons .icon{
            &:hover{
                transform: none;
            }
        }

        .contact .contact-details p {
            font-size: 15px;
        }
        .contact-content-left img {
            width: 350px;
            height: 350px;
            text-align: center;
            position: relative;
            top: 60px;
            left: 30%;
        }
    // end contact
  
   
} 

// 1025px — 1200px: Desktops, large screens
@media(min-width:1025px) and (max-width:1200px){


    // start cover
        .cover-img{
            background-image: url("../imgs/cover/cover-mobile.webp");
            height: 650px;
        }

        .cover-img-content h2 {
            font-size: 40px;
            width: 70%;
            margin: 0 auto;
            padding-bottom: 30px;
        }

    // end cover


    // start profile
        .profile-content {
            width: 80%;
        }
    // end profile


    // start eduexp

        .content {
            width: 100%;
            margin: 0 auto;
        }

        .exp-item h4 {
            font-size: 18px;
            line-height: 25px;
        }

        .exp-item p {
            font-size: 17px;
        }

    // end eduexp


    // start portfolio
        .portfolio .content {
            justify-content: space-evenly;
            width: 70%;
            flex-wrap: wrap;
        }
    // end portfolio

    // start blog

        .blog-content {
            justify-content: space-evenly;
            flex-wrap: wrap;
        }


    // end blog

    // start services 
        .services .services-content {
            width: 90%;
        }

    // end services

       

    // start contact 

        .contact-content-left img{
            width: 400px;
            height: 350px;
        }

        .contact .contact-content {
            width: 95%;
        }

        .contact .social-icons {
            justify-content: space-between;
            margin-top: 100px;
            padding: 0;
            box-shadow: none;
            width: 300px;
            margin: 100px auto 0 auto;
        }

       
        .contact .social-icons svg {
            width: 60px;
            height: 60px;
        }

        .contact .contact-details {
            justify-content: center;
            width: 100%;
        }

    // end contact

}

// 1201px and more —  Extra large screens, TV
@media(min-width:1201px)and(max-width:1440px){

    // start cover photo
        .cover-img-content h2 {
            font-size: 40px;
            width: 70%;
            text-shadow: 4px 5px 13px rgba(0,0,0,0.74);    
            margin: 0 auto;
            padding-bottom: 30px;
        }

    // end cover photo
   
    // start profile
        .profile-content {
            width: 65%;
        }
    // end profile

    // start eduexp

        .content {
            width: 85%;
        }

        .exp-item h4 {
            font-size: 18px;
            line-height: 25px;
        }

        .exp-item p {
            font-size: 17px;
        }
    // end eduexp

    // start portfolio

        .portfolio .content {
            width: 85%;
        }
        
    // end portfolio

    // start blog

        .blog-content {
            width: 85%;
        }

    // end blog
    
    // start services

        .services .services-content {
            width: 85%;
        }

    // end services

    // start contact

        .contact .contact-content {
            width: 90%;
        }

        .contact-content-left img{
            width: 450px;
            height: 400px;
        }

 
        .contact .social-icons {
            padding: 0;
            box-shadow: none;
          
        }

        .contact .social-icons svg {
            width: 50px;
            height: 50px;
        }

        .contact .contact-details {
            width: 95%;
            margin-left: 30px;
        }
        
        
    // end contact
}