@media (min-width:320px) and (max-width: 768px) {

	main {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content";
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-img{
		height: 350px;
		background-position: center;
	}

	.single-post-content .get-back {
		margin-top: 40px;
		text-align: left;
	}

}

@media(min-width: 769px) and (max-width:1024px){
	main {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content";
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 85%;
		margin: 0 auto;
	}
   
} 

@media(min-width:1025px) and (max-width:1200px){
	main {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content";
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 80%;
		margin: 0 auto;
	}
}

@media(min-width:1201px)and(max-width:1440px){
	main {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content";
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 60%;
		margin: 0 auto;
	}
}