@media (min-width:320px) and (max-width: 768px) {

	.main-single {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content"
		"sidebar-left";
	}

	.single-post-content {
		padding: 40px 20px 40px 20px;
	}

	.single-post-content h1 {
		text-align: left;
		margin-top: 0;
	}

	.single-post-img{
		height: 350px;
		background-position: center;
	}

	.single-post-content .get-back {
		margin-top: 40px;
		text-align: left;
		margin-left: 5px;
		font-size: 18px;
		display: none;
	}

	// sidebar
	.sidebar-post {
		padding: 10px 50px 50px 50px;
		/* margin-left: 50px; */
		margin: 0 auto;
		width: 300px;
	}

	.get-back-sidebar{
        color: #d37d3fda;
            display: block;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
			display: block;
			margin: 0 auto;
			width: 300px;
            &:hover{
                color: #ec8237da;
            }
      
    }

}

@media(min-width: 769px) and (max-width:1024px){
	.main-single {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "post-content"
		"sidebar-left";
	}

	// left sidebar
	.sidebar-posts {
		padding: 0;
		display: flex;
		flex-wrap: wrap;
	}

	.sidebar-post {
		padding: 10px 50px 50px 50px;
		margin-left: 50px;
		width: 300px;
	}
// end left sidebar

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 85%;
		margin: 0 auto;
	}


   
} 

@media(min-width:1025px) and (max-width:1200px){
	.main-single {
		min-height: none;
		display: grid;
		grid-template-columns:30% 1fr;
		grid-template-areas: "sidebar-left post-content"
		
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 80%;
		margin: 0 auto;
	}
}

@media(min-width:1201px)and(max-width:1440px){
	.main-single {
		min-height: none;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: "sidebar-left post-content"
	}

	.single-post-content h1 {
		text-align: left;
	}

	.single-post-content {
		padding: 40px 20px 80px 20px;
		width: 60%;
		margin: 0 auto;
	}
}